<configuration>

    <!-- Консольний Appender -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Використовуємо кастомний Layout -->
        <layout class="org.ukma.spring.crooodle.logging.CustomLayout" />
    </appender>

    <!-- Файловий Appender -->
    <appender name="FILE" class="org.ukma.spring.crooodle.logging.CustomFileAppender">
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

</configuration>