<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="EN">

<head>
    <title>
        Home
    </title>
</head>

<body>
<h1>
    Welcome to Crooodle!
</h1>

<!-- User not authenticated -->
<p sec:authorize="isAnonymous()">
    You are not logged in. Please <a th:href="@{/auth/login}">log in</a> or <a th:href="@{/auth/register}">register</a>.
</p>

<!-- User authenticated -->
<div sec:authorize="isAuthenticated()">
    <h2>
        Available Hotels
    </h2>
    <ul>

        <!-- commented for tests without a database-->
        <!--li th:each="hotel : ${hotels}">
            <a th:href="@{/hotels/{id}(id=${hotel.id})}" th:text="${hotel.name}"></a>
        </li> -->

        <li>
            Hotel 1
        </li>

        <li>
            Hotel 2
        </li>
    </ul>
</div>

<!-- Admin-only section -->
<div sec:authorize="hasRole('ROLE_ADMIN')">

    <h2>
        Admin Dashboard
    </h2>

    <p>
        Welcome, Admin! Here are some admin-only options:
    </p>

    <ul>

        <li>
            <a th:href="@{/admin/add-hotel}">
            Add New Hotel
            </a>
        </li>

        <li>
            <a th:href="@{/admin/settings}">
                Admin Settings
            </a>
        </li>
    </ul>
</div>

</body>
</html>
